body{
    background-color: #ffe7e9;
    position: absolute;
    width: 1700px;
}
header{
    background: hotpink;
    height: 50px;
    margin-left: 15%;
    margin-right: 15%;
}
.menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 50px;
    letter-spacing: 0.1em;
    font-size: larger;
}
.menu a:hover{
    color: deeppink;
    text-decoration: underline;
}
.menu li{
    list-style-type: none;
    display: inline;
}
.menu ul{
    padding: 15px;
    margin-left: 18%;
}
.middle{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    background: hotpink;
    padding: 10px;
}
.middle img{
    width: 450px;
    height: 300px;
    padding-right: 20px;
}
.middle h5{
    color: white;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
.middle p{
    color: white;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    padding-right: 5px;
}
.high{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    background: hotpink;
    padding: 10px;
}
.high img{
    width: 450px;
    height: 300px;
    padding-right: 20px;
}
.high h5{
    color: white;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
.high p{
    color: white;
    font-size: 20px;
    line-height: 30px;
    padding-right: 5px;
    text-align: justify;
}
.university{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    background: hotpink;
    padding: 10px;
}
.university img{
    width: 500px;
    height: 300px;
    padding-right: 20px;
}
.university h5{
    color: white;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
.university p{
    color: white;
    font-size: 20px;
    line-height: 30px;
    padding-right: 5px;
    text-align: justify;
}